 <!--CONTACT SECTION START-->
       {%if page.titre == "SOUL & BEAUTY" %}
       {%include "web/modules/contact.html" %}
       {%endif%}
 <!--CONTACT SECTION END-->
        <section class="footer clearfix to">
        	<div class="container ">
            	<div class="row " >
                    <div class="col-sm-6">
                    	<p>Copyright 2015 <a href="#">SOUL &amp; BEAUTY</a></p>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                    	<ul class="soc-footer ">
                        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul><!--/.soc-footer-->
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div>
        </section><!--footer-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
            $(window).load(function() { // makes sure the whole site is loaded
                $("#status").fadeOut(); // will first fade out the loading animation
                $("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
            })
        //]]>
    </script> 
    <script src="web/js/modernizr.custom.26589.js"></script>
    <script src="web/js/jquery-ui-1.8.22.custom.min.js"></script>
    <script src="web/js/jquery.imagesloaded.min.js"></script>
    <script src="web/js/video.js"></script>
    <script src="web/js/bigvideo.js"></script>
    <script src="web/js/jquery.easing.js"></script>
    <script type="text/javascript" src="web/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="web/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="web/js/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="web/js/jquery.nav.js"></script>
    <script type="text/javascript" src="web/js/contact.js"></script>
    <script src="web/js/jquery.prettyPhoto.js"></script> 
    <script type="text/javascript" src="web/twitter/jquery.tweet.js"></script>
    <script src="web/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="web/js/jquery.ui.map.js"></script>
    <script type="text/javascript" src="web/js/map.js"></script>
    <script type="text/javascript" src="web/js/ticker.js"></script>
    <script type="text/javascript" src="web/js/jquery.easing.js"></script>
    <script type="text/javascript" src="web/js/jquery.BlackAndWhite.min.js"></script>

	{%if page.titre!="BLOG" %}
    <script type="text/javascript" src="web/js/script-video.js"></script> <!--pour ne pas afficher la video en bg-->
    {% endif %}
	
	{% if page.titre!='SOUL & BEAUTY'%}
    <script type="text/javascript" src="web/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="web/js/supersized.shutter.js"></script>
    <script type='text/javascript' src='web/js/script-snb.js'></script>
    {%if page.titre!="BLOG" %}
    <script type="text/javascript" src="web/js/script.js"></script> <!--pour ne pas afficher les photos en bg-->
    {% endif %}
	{% endif %}
      {% if page.scroll is  defined %}
	<script>
		$(document).ready(function(){
			$( "#M-{{page.scroll}}" ).trigger( "click" );	
		});
	</script>
	
    {%endif %}
{% if page.titre=='PHOTOS' or page.titre=='VIDEOS' %}
<script>
	$(document).ready(function(){
		var courant=0;
		
		
	
	$('.it').click(function(){
		$('.header').fadeTo("slow", 0);
		courant=$('#'+this.id).data('num');
		//alert(courant);
	});
	
	$('.lb-close').click(function(){
	  $('.header').fadeTo("fast", 1);	
	});
	
	
	/*
	$('.fnext').click(function(){
		//alert($('#'+this.id).data('num'));
	});*/
	
	
	$('body').keyup(function(e){
		
		if ($(".lb-overlay").is(":visible")) {
			if(e.keyCode==39)
			{
				a=currentLocation =  document.location.href;
				 t=a.split("image-");
				
				a = parseInt(t[1])-1
				if (a==0) {
				a=3;	
				}
				location.href='#image-'+a;
				
			}
			else if (e.keyCode==37) {
				a=currentLocation =  document.location.href;
				 t=a.split("image-");
				a = parseInt(t[1])+1
				if (a==3) {
				a=1;	//code
				}
				location.href='#image-'+a;
			}
			else
			{
				
			}
		}
	});
	
	});
</script>
{%endif%}

	

	</body>
</html>